## Women's Tennis Workbork

In [1]:
import pandas as pd

#### Clean Player Data

In [4]:
player_data_files = ['player_data_0.csv', 'player_data_1.csv']
df = pd.concat(pd.read_csv(f, index_col=0) for f in player_data_files)
df.head()

,ranking,points,tournamentsPlayed,movement,rankedAt,player.id,player.firstName,player.lastName,player.fullName,player.countryCode,player.dateOfBirth,player.metadata
0,1,8990,18,0,2023-07-03T00:00:00Z,326408,Iga,Swiatek,Iga Swiatek,POL,2001-05-31,NaN
1,2,8066,17,0,2023-07-03T00:00:00Z,320760,Aryna,Sabalenka,Aryna Sabalenka,BLR,1998-05-05,NaN
2,3,5090,20,0,2023-07-03T00:00:00Z,324166,Elena,Rybakina,Elena Rybakina,KAZ,1999-06-17,NaN
3,4,4995,18,0,2023-07-03T00:00:00Z,316956,Jessica,Pegula,Jessica Pegula,USA,1994-02-24,NaN
4,5,4845,25,0,2023-07-03T00:00:00Z,315391,Caroline,Garcia,Caroline Garcia,FRA,1993-10-16,NaN